 <!-- START CUSTOM TABS -->
 <!-- <h2 class="page-header">AdminLTE Custom Tabs</h2> -->
 <div class="content-wrapper">

     

        <section class="content-header">
 <div class="row">
   <div class="col-md-12">
     <!-- Custom Tabs -->
     <div class="nav-tabs-custom">
       <ul class="nav nav-tabs">
         <li class="active"><a href="#tab_1" data-toggle="tab">Customers Information</a></li>
         <li><a href="#tab_2" data-toggle="tab">Purchase</a></li>
         <li><a href="#tab_3" data-toggle="tab">Call History</a></li>
         
         
       </ul>
       <div class="tab-content">
         <div class="tab-pane active" id="tab_1">
             <div align="center"><img src="assets/dist/img/339a.png" class="img-circle" width="130px" height="130px"></div>
            
            
             <div>
  
    <!-- <hr /> -->
    <dl class="dl-horizontal">
        <dt> Name </dt> <dd></dd>
        <br/>
        <dt>Phone</dt><dd></dd>
        <br/>
        <dt>Address</dt><dd></dd>
        <br/>
        <dt>Occupation</dt><dd></dd>
        <br/>
        <dt>Email</dt><dd></dd>
        <br/>
        <dt>Facebook</dt><dd></dd>
        <br/>
        <dt>Line</dt><dd></dd>
    </dl>
</div>
             
            
         </div>
         <!-- /.tab-pane -->
         <div class="tab-pane" id="tab_2">
                <div class="box box-body box-primary">
                        <table class="table table-striped" id="dtaTable">
                            <thead class="dataTableHead">
                                <tr>
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Date
                                    </th>                                 
                                    <th>Action</th>
                                </tr>
                            </thead>
                            </table>
                            
                        </div>

                      

                    
                        
                        
         </div>
         <!-- /.tab-pane -->
         <div class="tab-pane" id="tab_3">
                <div class="box box-body box-primary">
                        <table class="table table-striped" id="dtaTable">
                            <thead class="dataTableHead">
                                <tr>
                                    <th>
                                        Call From
                                    </th>
                                    <th>
                                        Call In
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Ducation
                                    </th>                                  
                                </tr>
                            </thead>
                            </table>
                        </div>
         </div>
         <!-- /.tab-pane -->
       </div>
       <!-- /.tab-content -->
     </div>
     <!-- nav-tabs-custom -->
   </div>
   <!-- /.col -->


 </div>
 <!-- /.row -->
 <!-- END CUSTOM TABS -->
</section>
</div>